[flake8]
max-line-length = 79
exclude =
    migrations,
    */migrations/*,
    __pycache__,
    venv,
    .venv
per-file-ignores =
    */__tests__/*.py: E501
    */tests/*.py: E501
    */tests/**/*.py: E501
    */models/__init__.py: F401