version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: signa_app
    command: >
      sh -c "
        python manage.py migrate --noinput &&
        gunicorn config.wsgi:application --bind 0.0.0.0:8000
      "
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"

volumes:
  static_volume:

